/* Created & Updated by Joel Kuruvilla for Assignment 3 | 2023-07-25 */
.profileSettings {
    margin: 2% 12%;
}
.profileSettings > div {
    text-transform: capitalize;
    font-size: 2.5vh;
    list-style: none;
}

/* Overvall Form Structural styling */
.profileSettings > div > form > h3 { /* Form Title Buttons */
    margin: 8px 0;
    width: 100%;
}
.profileSettings > div > form > li { /* Form Fields */
    float: left;
    clear: both;
    width: 70%;
    margin: 0;
}
.profileSettings > div > form > li > input { /* Input boxes */
    margin: 1% 5%;
    width: 60%;
    float: right;
}
.profileSettings > div > form > li > select { /* Drop down box selection input box */
    margin: 1% 5%;
    width: 35%;
    float: right;
}
.profileSettings > div > form > #updateButtons { /* Update Buttons */
    background-color: ghostwhite;
    float: right;
    padding: 1vh;
    margin-right: 1%;
}


/* Form component stylings; General, Set Password and 2FA [districts #1-3] */
.profileSettings-general, .profileSettings-setPassword, .profileSettings-twoFactorAuthentication {
    border: 1px solid black;
    background-color: lightgray;
    padding: 1%;
    margin: 1% 0%;
}

/* General Settings Styling */
.profileSettings-general-form {
    height: 24vh;
}

/* Set Password Settings Styling */
.profileSettings-setPassword-form {
    height: 10vh;
}

/* Two Factor Authentication Settings Styling */
.profileSettings-twoFactorAuthentication-form {
    height: 8vh;
    display: flex;
    list-style: none;
    clear: both;
    padding: 1vh;
}
.profileSettings-twoFactorAuthentication-form > li {
    margin: 1%;
    padding: 5px;
    /* background-color: aliceblue; */
}



/* Form component stylings; Set Location, Danger, and Delete Settings [Districts #4-6] */
.profileSettings-setLocation, .profileSettings-danger, .profileSettings-delete {
    padding: 1%;
}

/* Set Location Settings Styling */
.profileSettings-setLocation {
    border: 1px solid black;
    background-color: lightgray;
    height: 10%;
    margin: 1% 5% 0 0%;
    float: left;
    width: 25%;
}
.profileSettings-setLocation-form {
    margin: 1% 0%;
    height: 10%;
}

/* Danger Settings Styling */
.profileSettings-danger {
    border: 1px solid black;
    background-color: lightgray;
    height: 8%;
    width: 32%;
    float: left;
    margin: 1% 5% 0 0%;
}
.profileSettings-danger-form {
    display: flex;
    padding: 1% 5%;
    width: 100%;
}


/* Delete Settings Styling */
.profileSettings-delete {
    float: right;
    margin: 1% 3% 0 0%;
    width: 30%;
}
.profileSettings-delete-form > button {
    float: right;
    background-color: red;
    padding: 2vh;
    width: 90%;
}


@media (max-width: 805px) {
    .profileSettings {
        margin-top: 12vh;
    }

    .profileSettings > div {
        margin: 2vh 0;
    }

    /* Form component stylings - @media */
    .profileSettings > div > form > li {
        width: 100%;
        margin: 1vh;
    }
    .profileSettings > div > form > li > input { /* Media adapted Input boxes */
        margin: 1% 5%;
        width: 40%;
    }
    .profileSettings > form > #updateButtons { /* Media adapted Update Buttons */
        padding: 1vh;
        margin: 0 3% 0 0;
    }

    /* General Settings Styling - @media */
    .profileSettings-general-form {
        height: 30vh;
        margin: 0;
    }

    /* Set Password Settings Styling - @media */
    .profileSettings-setPassword-form {
        height: 20vh;
    }

    /* Two Factor Authentication Settings Styling - @media */
    .profileSettings-twoFactorAuthentication-form {
        height: 15vh;
    }

    /* Set Location Settings Styling - @media */
    .profileSettings-setLocation {
        width: 100%;
        clear: both;
        text-align: center;
        float: none;
        height: 12vh;
        margin: 1% 20%;
    }

    /* Danger Settings Styling - @media */
    .profileSettings-danger {
        width: 55%;
        text-align: center;
        float: left;
        height: 18vh;
        margin: 1% 20%;
    }

    /* Delete Settings Styling - @media */
    .profileSettings-delete {
        width: 45%;
        text-align: center;
        float: right;
        height: 12vh;
        margin: 1% 20%;
    }
}

@media (max-width: 405px) {
    /* General Settings Styling - @media #2 */
    .profileSettings-general-form {
        height: 35vh;
        margin: 0;
    }
}
