.custom-subnav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #241833;
  margin: 0;
  flex-direction: column-reverse;
}

.custom-navbar-links {
  justify-content: space-evenly;
  display: flex;
  list-style: none;
  padding: 10px;
}

.custom-navbar-links li {
  margin-left: 20px;
}

.custom-navbar-links li a {
  color: white;
  text-decoration: none;
}

.custom-navbar-links li a:hover {
  color: #d9bcff;
}

@media (max-width: 805px) {
  .custom-subnav {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
  }

  .custom-navbar-links {
    flex-direction: row;
    justify-content: center;
    background-color: #241833;
    height: 50px;
  }

  .custom-navbar-links li {
    margin-left: 0;
  }
}