
.orderHistoryHeading {
  font-size: 16px; 
  margin-top: 10px;
}
.orderHistoryLabel{
  font-size: 12px;
}
.responsive-button {
    
  padding: 8px 16px;
  font-size: 8px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  
  color: white;
  
}

@media screen and (min-width: 600px) {

  
  .orderHistoryLabel{
    font-size: 14px;
  }


  .orderHistoryHeading {
    font-size: 20px; 
    margin-top: 0px;
  }
  .responsive-button {
        
    padding: 10px 20px;
    font-size: 12px;
  }

}
@media screen and (min-width: 807px) {

 
  .orderHistoryLabel{
    font-size: 18px;
  }

  .orderHistoryHeading {
    font-size: 24px; 
    margin-top: 0px;
  }
  .responsive-button {
    
    padding: 12px 24px;
    font-size: 16px;
  }

}