/* Created By: Patrick Wooden*/
.checkoutOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.checkoutContent {
  width: 200px;
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formRow {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  justify-content: center;
  width: 100%;
}

.formRow label {
  margin-bottom: 5px;
}

.ratingContainer {
  display: flex;
  justify-content: center;
}

.checkoutButton {
  width: 100%;
  font-size: 10px;
}

.checkoutTextArea {
  width: 100%;
  justify-content: center;
  font-size: 10px;
}

.checkoutHeading {

  font-size: 14px;
}

.checkoutForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;

}

.checkoutLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}

@media screen and (min-width: 600px) {
  .checkoutContent {
    width: 200px;
    max-width: 90%;
    margin: 0 auto;
  }

  .formRow {

    margin-bottom: 10px;
    font-size: 12px;

  }

  .checkoutLabel {
    margin-bottom: 5px;
    font-size: 14px;
  }


  .checkoutHeading {
    font-size: 16px;
    margin-bottom: 5px;
  }

  .checkoutForm {

    width: 75%;

  }

  .checkoutTextArea {

    font-size: 12px;
  }

  .checkoutButton {

    font-size: 14px;
  }
}

@media screen and (min-width: 807px) {
  .checkoutContent {
    padding: 10px;
  }

  .checkoutContent {
    width: 300px;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .formRow {
    margin-bottom: 7px;
    font-size: 16px;
  }

  .checkoutLabel {
    font-size: 18px;
  }

  .buttonRow {
    margin-top: 10px;
  }

  .checkoutHeading {
    font-size: 24px;
  }

  .checkoutForm {

    width: 100%;

  }

  .checkoutTextArea {

    font-size: 12px;
  }

  .checkoutButton {

    font-size: 16px;
  }
}