/* Created By: Joel Kuruvilla | 2023-June-18 */
.AboutUs {
    text-align: center;
    height: fit-content;
    padding: 1vh 7%;
    margin: 5px 10%;
}

.AboutUs>.AboutUs_Titles {
    /*[TLBR]*/
    margin: 5vh 0 1% 0;
}

.AboutUs>.AboutUs_ContentMain {
    margin: 0vh 7%;
    line-height: 1.5;
}

.AboutUs>.AboutUs_ContentTeam {
    list-style: none;
    margin: 1vh;
    padding: 0%;
}

.AboutUs>.AboutUs_ContentDisclaimers {
    margin: 5%;
    font-size: 90%;
}

@media (max-width: 805px) {
    .AboutUs {
        margin: 7vh 10%;
    }
}

@media (max-width: 370px) {
    .AboutUs>.AboutUs_Titles {
        font-size: 24px;
    }
}

@media (max-width: 280px) {
    .AboutUs>.AboutUs_Titles {
        font-size: 22px;
    }
}