/* css flex structure referred from Assignment 1 (Individual Submission) Login.css
   URL: https://git.cs.dal.ca/charolia/csci-4177-5709-assignments/-/tree/main/Assignment1
   Author: Saiz Charolia
   Date Accessed: 06/13/2023  
*/

.forgotpassword-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.company-info {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.company {
  margin-bottom: 20px;
  font-size: large;
  width: 80%;
  text-align: center;
   /* Center text content */
}

.forgotpassword-form {
  background-color: #f7f7f9;
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 100vh;
}

.forgotpassword {
  display: flex;
  flex-flow: column;
  margin: 0 2rem;
  width: 65%;
  
}

.forgotpassword h2 {
  margin-bottom: 1rem;
  text-align: center;
}

.forgotpassword-form label,
.forgotpassword-form input,
button {
  display: block;
  margin-bottom: 0.5rem;
  width: 100%;
  box-sizing: border-box;
}

.forgotpassword-form input{
  height: 30px;
}

.forgotpassword-form .forgot-password {
  text-align: right;
  margin-bottom: 1rem;
}

button {
  height: 40px;
  
  color: white;
  border: none;
  font-size: medium;
  
}

.forgotpassword-form button[type="submit"] {
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: white;
  background-color:  #6C4998;
}

.forgotpassword-form button[type="submit"]:hover {
  background-color: #483165;
  color: white;
}

.forgotpassword-form .signup-link {
  text-align: right;
}

.headlines h4 {
  align-items: center;
  margin-top: -20px;
}

.password-input {
  position: relative;
}

.password-toggle {
  position: absolute;
  top: 55%;
  right: 10px;
  transform: translateY(-60%);
  cursor: pointer;
}

.login-form p {
  color: red;
}

.headlines img{
  height: auto;
  width: 340px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 80%;

}

