/* css flex structure referred from Assignment 1 (Individual Submission) Login.css
   URL: https://git.cs.dal.ca/charolia/csci-4177-5709-assignments/-/tree/main/Assignment1
   Author: Saiz Charolia
   Date Accessed: 06/11/2023  
*/

.signup-container {
  display: flex;
  background-color: white;
}

.signup-text-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 2;
  margin: 10px;
  padding: 10px;
  font-weight: bold;
  color: #6102dc;
  text-align: center;
}

.signup-image {
  width: 300px;
}

.signup-form {
  background-color: #f7f7f9;
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.signup {
  display: flex;
  flex-flow: column;
  margin: 0 2rem;
  width: 100%;
}

.signup h2, .signup h1 {
  margin-bottom: 1rem;
  text-align: center;
}

.signup-form label,
.signup-form input,
.signup-form button {
  display: block;
  margin-bottom: 0.5rem;
  width: 100%;
  box-sizing: border-box;
}

.signup-form button a {
  text-decoration: none;
  color: white;
}

.signup-form input {
  height: 50px;
}

.signup-form .forgot-password {
  text-align: right;
  margin-bottom: 1rem;
}

.signup-form button {
  height: 40px;
  color: white;
  border: none;
  font-size: medium;
}

.signup-form button {
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: white;
  background-color: #6C4998;
}

.signup-form button:hover {
  background-color: #483165;
  color: white;
}

.password-input {
  position: relative;
}

.password-toggle {
  position: absolute;
  top: 55%;
  right: 10px;
  transform: translateY(-60%);
  cursor: pointer;
}

@media (max-width: 685px) {
  .signup-text-image {
    margin: 8px;
    padding: 8px;
  }

  .signup-image {
    width: 250px;
  }
}

@media (max-width: 560px) {
  .signup-container {
    display: flex;
    flex-direction: column;
    padding-top: 70px;
  }

  .signup-text-image {
    margin: 6px;
    padding: 6px;
  }

  .signup-image {
    width: 200px;
  }

  .signup-form {
    background-color: white;
    min-height: 50vh;
    align-items: center;
  }

  .signup-form label,
  .signup-form input,
  .signup-form button {
    padding: 5px;
  }
}