/* This is my own css */
.previewAd-main-container {
    display: flex;
    flex-direction: column;
}

/* heading */
.previewAd-section1 {
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* All Sections */
.previewAd-section2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.previewAd-section2, .previewAd-section3, .previewAd-section5 {
    background-color: rgb(230, 230, 230);
    margin: 10px;
    padding: 10px;
}

.previewAd-section4 div {
    margin: 10px;
    padding: 10px;
}

.previewAd-section6 {
    display: flex;
    flex-direction: column;
}

.previewAd-section6 span {
    margin: 5px;
    padding: 5px;
}

.condition-preview {
    margin-left: 4px;
    font-weight: normal;
    font-size: 15px;
    color: rgb(0, 75, 92);
}

.preview-button {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.preview-button button {
    padding: 15px;
    margin: 15px;
    background-color: white;
}

.preview-button button a {
    color: rgb(51, 51, 51);
    text-decoration: none;
}

.previewAd-section3 {
    display: flex;
    flex-wrap: wrap;
}

.previewAd-section3 div img {
    margin: 10px;
}

@media (max-width: 750px) {
    .previewAd-main-container {
        padding-top: 70px;
    }

    .previewAd-section3 div img {
        margin: 10px;
    }
}

@media (max-width: 500px) {
    .postAd-main-container {
        overflow: hidden;
    }

    .previewAd-section2, .previewAd-section3 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
}